ul {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}

ul a {
    color: var(primary-light)!important;
}

ul a:active {
    color: darkblue!important;
}

li { 
    text-decoration: none;
}