:root {
  --primary-color: #053555;
  --dark-blue: #13293d;
  --primary-light: #eededd;
  --border-radius: 50px;
  --bs-nav-link-color: #eededd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#me {
  max-height: 50%;
  justify-content: right;
}